{% extends 'all-snaps/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if image %}
        <h2>Found {{ image|length }} of searched term {{message}}</h2>
        {% else %}
        <h2>Found 0 images for the search term {{message}}</h2>
        {% endif %}
    </div>

    <div class="row">
        {% for img in image %}
        <div class="col-md-3">
            <img src="{{ img.image.url }}" class="images img-responsive" alt="Card Image"  style="height:400px; width: 400px";>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}